<!-- templates/student-edit.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Edit Student</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<div th:fragment="content">
    <div class="container">
        <h2>Edit Student</h2>
        <form th:action="@{/auth/admin/students/edit}" th:object="${student}" method="post">
            <input type="hidden" th:field="*{id}">
            <div class="form-group">
                <label for="registrationNumber">Registration Number</label>
                <input type="text" class="form-control" id="registrationNumber" th:field="*{registrationNumber}" required>
            </div>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" th:field="*{name}" required>
            </div>
            <div class="form-group">
                <label for="dob">Date of Birth</label>
                <input type="date" class="form-control" id="dob" th:field="*{dob}" required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" th:field="*{email}" required>
            </div>
            <div class="form-group">
                <label for="department">Department</label>
                <select class="form-control" id="department" th:field="*{department}" required>
                    <option value="">Select Department</option>
                    <option value="M.C.A">M.C.A</option>
                    <option value="M.Sc(DS)">M.Sc(DS)</option>
                    <option value="M.Sc(AI)">M.Sc(AI)</option>
                    <option value="M.Sc(CS)">M.Sc(CS)</option>
                </select>
            </div>
            <div class="form-group">
                <label for="yearOfStudy">Year Of Study</label>
                <input type="text" class="form-control" id="yearOfStudy" th:field="*{yearOfStudy}" required>
            </div>
            <div class="form-group">
                <label for="yearOfJoining">Year Of Joining</label>
                <input type="text" class="form-control" id="yearOfJoining" th:field="*{yearOfJoining}" required>
            </div>
            <div class="form-group">
                <label for="academicYear">Academic Year</label>
                <input type="text" class="form-control" id="academicYear" th:field="*{academicYear}" required>
            </div>
            <div class="form-group">
                <label for="community">Community</label>
                <input type="text" class="form-control" id="community" th:field="*{community}" required>
            </div>
            <div class="form-group">
                <label for="scholarshipName">Scholarship Name</label>
                <select class="form-control" id="scholarshipName" th:field="*{scholarshipName}" required>
                    <option value="">Select Scholarship Name</option>
                    <option value="BC/MBC/DNC Scholarship">BC/MBC/DNC Scholarship</option>
                    <option value="SC/ST Scholarship">SC/ST Scholarship</option>
                    <option value="NSP Minority Scholarship">NSP Minority Scholarship</option>
                </select>
            </div>
            <div class="form-group">
                <label for="scholarshipType">Scholarship Type</label>
                <select class="form-control" id="scholarshipType" th:field="*{scholarshipType}" required>
                    <option value="">Select Scholarship Type</option>
                    <option value="State Government Scheme">State Government Scheme</option>
                    <option value="Central Government Scheme">Central Government Scheme</option>
                </select>
            </div>
            <div class="form-group">
                <label for="scholarshipAmount">Scholarship Amount:</label>
                <input type="number" id="scholarshipAmount" th:field="*{scholarshipAmount}" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="status">Status:</label>
                <select id="status" th:field="*{status}" class="form-control">
                    <option value="Available">Available</option>
                    <option value="Not available">Not available</option>
                </select>
            </div>
            <div class="form-group">
                <label for="mobileNumber">Mobile Number</label>
                <input type="text" class="form-control" id="mobileNumber" th:field="*{mobileNumber}" required>
            </div>
            <button type="submit" class="btn btn-info">Save</button>

            <a th:href="@{/auth/admin/students}" class="btn btn-danger">Cancel</a>
        </form>
    </div>
</div>
</body>
</html>
